
/*Custom properties*/
:root {
    --color-primary: #1a73e8;

    --color-secondary: #f8f9fa;

    --color-light-neutral: white;
    --color-dark-neutral: black;

    --color-button-hover: #666666;

    --ff-primary: 'Montserrat', sans-serif;
}

.dark-mode {
    --color-primary: white;
    --color-light-neutral: black;
    --color-secondary: #666666;
    --color-dark-neutral: white;
    --color-button-hover: rgb(242, 242, 9);
}

/*Removing default margins*/
body, h1, h2, h3, p {
    margin: 0
}

/*Base container container size for desktop*/
.container {
    width: 1920px;
}

/*Base styling for section headers*/
.section-header {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-dark-neutral);
}

/*primary font used across the website*/
body {
    font-family: var(--ff-primary);
}

/*apply to all <a> tags to remove underlines and other decorations.*/
a {
    text-decoration: none;  
}

/*Home section properties*/
#home-section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-light-neutral)
}


/*Header container holding navigation bar*/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: var(--color-light-neutral);
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 999;
}

.hamburger {
    border: 0;
    background-color: transparent;
    color: var(--color-primary);
    display: none;
}

.mode-button {
    border: 0;
    background-color: transparent;
    color: var(--color-primary);
}

.mode-button:hover {
    color: var(--color-button-hover)
}

/*Navigation top bar*/
nav {
    display: flex;
    justify-content: space-between;
}

/*wrapper for the home section*/
.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-wrapper h1 {
    color: var(--color-dark-neutral);
}

/*Logo container size*/
.logo {
    height: 7.813rem
}

/*Logo properties to contain within logo container*/
.logo img {
    max-width:100%;
    max-height:100%;
}

/* Nav links container */
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Navigation bar link styling*/
.navlink {
    margin-left: 2.5rem;
    font-size: 1.25rem;
    color: var(--color-primary);
}

/*Underlines the link being hovered with a blue line*/
.navlink:hover {
    margin-bottom: -3px;
    border-bottom:3px solid var(--color-primary);
}

/*Container for the main text in the home section*/
.home-text {
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 0.625rem;
    padding-left: 0.313rem;
    color: var(--color-dark-neutral);
}


.home-left h1 {
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 1.563rem;
}

.medium-text {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1.25rem;
    padding-left: 0.188rem;
    color: var(--color-dark-neutral);
}

/*Container for social links*/
.home-socials {
    display: flex;
    align-items: center;
}

.home-socials a {
    margin-right: 2.188rem;
}

/*homepage social links*/
.home-socials a i {
    color:var(--color-primary);
}

.home-right {
    display: flex;
    justify-content: center;
}

.home-right img{
    max-height: 100%;
    max-width: 100%;
}


#about-me-section {
    background-color: var(--color-secondary);
    min-height: 50vh;
    display: flex;
    justify-content: center;
}


.about-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.about-wrapper h1 {
    color: var(--color-dark-neutral);
}

.description-wrapper {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.description-wrapper p {
    margin-right: 1.5rem;
    line-height: 1.5;
    font-size: 1rem;
    width: 700px;
    background-color: var(--color-light-neutral);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    color: var(--color-dark-neutral);

}


.description-wrapper img{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    margin-right: 3rem;
    border: 0.25rem solid var(--color-light-neutral);
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
}

.code-block-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    height: 500px;
    background-color: var(--color-light-neutral);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    margin-left: 4rem;
}

.code-snippet {
    font-size: 1.25rem;
    color: var(--color-primary);
    font-weight: 100;
}

.language-selectors {
    display: flex;
}

.language-button {
    background-color: inherit;
    border: none;
    text-align: center;
    color: var(--color-primary);
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    font-weight: 700;
}

.language-button:hover {
    background-color: var(--color-secondary);
}

.technologies {
    display: flex;
}




/*PROJECTS SECTION*/
#project-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color-light-neutral);
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 4rem;
    align-items: center;
}

.projects h1 {
    color: var(--color-dark-neutral);
}

.project {
    height: auto;
    width: 75%;
    background-color: var(--color-light-neutral);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    margin-bottom: 2rem;
    display: flex;
}

.project-description {
    width: 60%;
    color: var(--color-primary);
    padding-left: 1rem;
    padding-top: 1rem;
}

.project-description h2 {
    margin-bottom: 0.5rem;
}

.nfl-media :first-child {
    display: flex;
    align-items: center;
}

.technology-stack li {
    color: var(--color-dark-neutral);
    line-height: 1.25;
}

.technology-stack p {
    font-size: 1rem;
}

.project-git {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.project-link {
    text-align: center;
}

.project-git i {
    color: var(--color-primary);
}



.project-media {
    display: flex;
    border-radius: 1rem;
    width: 40%;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
}

.project-media video {
    width: 100%;
    height: 100%;
}

.project-media img {
    max-width: 90%;
    max-height:90%; 
    border-radius: 1rem;   
}

.animals-logo {
    display: flex;
    justify-content: center;
}

.animals-logo img{
    height: 75%;
}

/*CONTACT SECTION*/
#contact-section {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    background-color: var(--color-secondary);
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-wrapper h1 {
    color: var(--color-dark-neutral);
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    justify-content: space-between;
}


.contact-left-side {
    background-color: var(--color-light-neutral);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    width: 500px;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.contact-left-side i {
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.contact-left-side h3{
    margin-bottom: 0.5rem;
    color: var(--color-dark-neutral);
}

.contact-left-side p {
    color: var(--color-dark-neutral);
}

.contact-right-side {
    background-color: var(--color-light-neutral);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 500px;
}

#contact-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-fields {
    height: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-email-fields {
    display: flex;
    justify-content: space-between;
}

.name-email-fields input {
    width: 400px;
    height: 40px;
    border: solid 2px var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    font-size: 1rem;
    font-family: var(--ff-primary);
    color: var(--color-dark-primary);
    padding-left: 1rem;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field label{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-primary);
}

#message-field label {
    margin-top: 1rem;
}

#message-field textarea {
    width: 100%;
    height: 250px;
    border: solid 2px var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
    font-size: 1rem;
    font-family: var(--ff-primary);
    color: var(--color-dark-primary);
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

#contact-form button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25%;
    height: 3rem;
    border-radius: 0.65rem;
    border: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.contact-form-button-text {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff-primary);
    color: var(--color-light-neutral);
}




/*FOOTER*/
footer {
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
}

.footer-wrapper {
    color: var(--color-light-neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    margin-right: 2.188rem;
}

.footer-socials a i {
    color: var(--color-light-neutral);
}


/*Screen size for extra large screens*/
@media only screen and (max-width: 2500px) {
    .container {
        max-width: 1920px;
    }
}

/*Regular desktop screen size*/
@media only screen and (max-width: 1920px) {

    .container {
        max-width: 1280px;
    }
    
    .home-right img {
        width: 80%;
        height: 80%;
    }

    .home-left {
        margin-left: 3rem;
    }

    .description-wrapper {
        flex-direction: column;
    }

    .description-wrapper img {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .description-wrapper p {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .code-block-card {
        margin-left: 0;

    }

    .project-media {
        align-items: center;
    }


    .project-media img {
        width: 100%;
        height: 70%;
    }


    .name-email-fields {
        flex-direction: column;
    }

    .contact-right-side {
        height: auto;
    }

    .input-field label {
        margin-top: 1rem;
    }
}

/*Tablet Size*/
@media only screen and (max-width: 1280px) {

    header {
        max-width: 1280px;
        text-align: center;
    }

    .container {
        max-width: 900px;
    }
    
    .home-right img {
        width: 80%;
        height: 80%;
        margin-left: 2rem;
    }

    .home-left {
        margin-left: 3rem;
    }

    .description-wrapper {
        flex-direction: column;
    }

    .description-wrapper img {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .description-wrapper p {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .project-media {
        align-items: center;
    }


    .project-media img {
        width: 100%;
        height: 40%;
    }

    .code-block-card {
        margin-left: 0;

    }

    .contact-left-side {
        text-align: center;
    }

    .contact-right-side {
        height: auto;
    }

    .name-email-fields {
        flex-direction: column;
    }

    .input-field input {
        width: 100%;
    }

    .input-field label {
        margin-top: 1rem;
    }

    #contact-form button {
        width: auto;
    }
}

.navlinks.show {
    display: flex;
    flex-direction: column;
}



/*Mobile Devices*/
@media only screen and (max-width: 640px) {


    header {
        max-width: 640px;
        height: auto;
        justify-content: space-between;
    }

    section {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        display: none;
    }

    .home-socials {
        display: none;
    }

    .container {
        width: 350px;
    }

    nav.container{
        width: 100%;
    }

    .home-left {
        margin: 0;
        text-align: center;
    }

    .home-right img {
        display: none;
    }

    .description-wrapper {
        flex-direction: column;
    }

    .description-wrapper img {
        margin: 0;
        width: 50%;
        height: auto;
    }

    .description-wrapper p{
        display: flex;
        margin-top: 1rem;
        width: 90%;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .code-block-card {
        display: none;
    }

    .project-description {
        width: 100%;
        padding: 1rem;
    }

    .project-description h2 {
        font-size: 1rem;
        text-align: left;
    }

    .project-description h3 {
        font-size: 0.9rem;
    }

    .technology-stack ul {
        padding-left: 10px;
        
    }

    .project-description p {
        font-size: 0.8rem;
    }

    .project-media {
        display: none;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-left-side {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .name-email-fields {
        flex-direction: column;
    }

    .contact-right-side {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .input-fields {
        width: 80%;
        margin-right: 1rem;
    }

    .input-field {
        margin-top: 1rem;
    }

    .input-field input {
        width: 100%;
    }

    .input-field label {
        font-size: 14px;
    }

    #contact-form button {
        width: 80%;
    }

    footer {
        padding: 1rem;
    }

    footer img{
        display: none;
    }
}

.thank-you-box {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thank-you-box h1 {
    color: var(--color-primary);
    font-size: 5rem;
    margin-bottom: 1rem;
}

.thank-you-box h3 {
    margin-bottom: 1rem;
}

.thank-you-box a {
    text-decoration: none;
}

thank-you-image-holder {
    display: flex;
    height: 250px;
}

.thank-you-image-holder img {
    height: 250px;
}


