
/*Custom properties*/
:root {
    --color-primary: #1a73e8;
    --color-dark-primary: #064575;

    --color-secondary: #f8f9fa;

    --color-light-neutral: white;
    --color-dark-neutral: black;

    --ff-primary: 'Montserrat', sans-serif;
}

/*Removing default margins*/
body, h1, h2, h3, p {
    margin: 0
}

/*Base container container size for desktop*/
.container {
    width: 120rem;
}

/*Base styling for section headers*/
.section-header {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-dark-neutral);
}

/*primary font used across the website*/
body {
    font-family: var(--ff-primary);
}

/*apply to all <a> tags to remove underlines and other decorations.*/
a {
    text-decoration: none;  
}

/*Home section properties*/
#home-section {
    display: flex;
    justify-content: center;
    min-height: 100vh;

}


/*Header container holding navigation bar*/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: var(--color-light-neutral);
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
}

/*Navigation top bar*/
nav {
    display: flex;
    justify-content: space-between;
}

/*wrapper for the home section*/
.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Logo container size*/
.logo {
    height: 7.813rem
}

/*Logo properties to contain within logo container*/
.logo img {
    max-width:100%;
    max-height:100%;
}

/* Nav links container */
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Navigation bar link styling*/
.navlink {
    margin-left: 2.5rem;
    font-size: 1.25rem;
    color: var(--color-primary);
}

/*Underlines the link being hovered with a blue line*/
.navlink:hover {
    margin-bottom: -3px;
    border-bottom:3px solid var(--color-primary);
}

/*Container for the main text in the home section*/
.home-text {
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 0.625rem;
    padding-left: 0.313rem;
}


.home-left h1 {
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 1.563rem;
}

.medium-text {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1.25rem;
    padding-left: 0.188rem;
}

/*Container for social links*/
.home-socials {
    display: flex;
    align-items: center;
}

.home-socials a {
    margin-right: 2.188rem;
}

/*homepage social links*/
.home-socials a i {
    color:var(--color-primary);
}

/*Resume Download Button styling*/
.resume-button {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-dark-primary), var(--color-primary));
    width: 10.938rem;
    height: 2.5rem;
    border-radius: 0.65rem;
    border: var(--color-primary);
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-light-neutral);
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
}

.resume-button:hover {
    background-position: right;
}

.home-right {
    display: flex;
    justify-content: center;
}

.home-right img{
    height: auto;
    width: 100%;
}


#about-me-section {
    background-color: var(--color-secondary);
    min-height: 50vh;
    display: flex;
    justify-content: center;
}


.about-wrapper {
    display: flex;
    flex-direction: column;
}

.description-wrapper {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.description-wrapper .code-block-card {
    margin-left: auto;
}

.description-wrapper p {
    margin-right: 1.5rem;
    line-height: 1.5;
    font-size: 1rem;
    width: 700px;
}


.description-wrapper img{
    width: 15rem;
    height: auto;
    border-radius: 50%;
    margin-right: 3rem;
    border: 0.5rem solid var(--color-light-neutral);
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
}

.code-block-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    height: 500px;
    background-color: var(--color-light-neutral);
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.3);
}

.code-snippet {
    font-size: 1.25rem;
    color: var(--color-primary);
    font-weight: 100;
}

.language-selectors {
    display: flex;
}

.language-button {
    background-color: inherit;
    border: none;
    text-align: center;
    color: var(--color-primary);
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    font-weight: 700;
}

.language-button:hover {
    background-color: var(--color-secondary);
}

.technologies {
    display: flex;
}




/*PROJECTS SECTION*/
#project-section {
    min-height: 100vh;
}





/*CONTACT SECTION*/
#contact-section {
    min-height: 60vh;
    background-color: var(--color-secondary);
}

/*FOOTER*/
footer {
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
}

.footer-wrapper {
    color: var(--color-light-neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    margin-right: 2.188rem;
}

.footer-socials a i {
    color: var(--color-light-neutral);
}
